apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: todo-app
  name: todo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  strategy: {}
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - image: trainwithshubham/node-todo-app-cicd:latest
        name: todo-app
        imagePullPolicy: Always
        ports: 
        - containerPort: 80
