<!DOCTYPE html>

<html>

    <head>
        <title>Edit <%- todo %></title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>Edit <%- todo %>:</h1>
        <form action="/todo/edit/<%= todoIdx %>" method="post">
            <p>
                <label for="editTodo">Change to:</label>
                <input type="hidden" name="_method" value="PUT">
                <input type="text" name="editTodo" id="editTodo" autofocus placeholder="<%- todo %>" />
                <input type="submit" value="Save" />
            </p>
        </form>
    </body>

</html>
